<section class="login-page d-flex flex-column">

  <!-- Header -->
  <header class="login-header">
    <div class="container text-center">
      <img src="/assets/images/logo.png" class="img-fluid login-logo" alt="Bank of Skill">
    </div>
  </header>

  <!-- Main -->
  <main class="flex-grow-1 d-flex align-items-center">

    <div class="container">

      <router-outlet />

    </div>

  </main>

  <!-- Footer -->
  <footer class="login-footer">

    <div class="container text-center">

      <p>
        © 2026 Bank of Skill. All Rights Reserved.
      </p>

    </div>

  </footer>

</section>